.message-btn{
    width:100px;
    background:#1877f2;
    color:white;
    border:none;
    padding:15px;
    border-radius: 18px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.message-btn:hover{
    background:#166fe5;
}